﻿<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Jester</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<!--Add tab for historic yearly financial data ex. https://www.alphavantage.co/query?function=BALANCE_SHEET&symbol=IBM&apikey=demo-->>
<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stock/details">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Stock Details
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stock/compare">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Compare Stocks
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
