@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: Verdana,sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

th {
    color: #fff;
    background-color: #3A0647;
}

.btn-primary {
    color: #fff;
    background-color: #0B2364;
    border-color: #3A0647;
    border-radius: 5px;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

.table-striped tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table-striped tr:hover {
    background-color: #ddd;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* The alert message box */
.error {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

/* TODO: fix/use The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* TODO: fix/use When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

tr.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: yellow;
    padding: 50px;
    font-size: 20px;
}