﻿@page "/stock/compare"

@using JesterApp.ApiClients
@using JesterApp.Models
@using JesterApp.Data
@inject StockHelper StockHelper

<div>
    <h1>Stock Comparison</h1>
    @if (stocks.Count < MAX_STOCKS_TO_COMPARE)
    {
        <div style="margin-bottom:.5rem">
            <input id="SearhStockInput" @onkeyup="@(e => SearchStock(e))" type="text" @bind-value="@stockTickerToSearch" placeholder="Stock Ticker to Search">
            <button class="btn-primary" @onclick="@(e => SearchStock(null))">Add Stock</button>
        </div>
    }
</div>

@if (errorMessage.Length > 0)
{
    <div class="error">
        <span class="closebtn" @onclick="@(e => RemoveErrorMessage())">&times;</span>
        @errorMessage
    </div>
}

<!--<table class="table">
    <tr style="position:fixed;top:0;">
    Try and get the top tow to be fixed
SUPER hard and fun feature, allow the customization of rows-->
@if (stocks != null && stocks.Count > 0)
{
    <table id="CompareStocksTable" class="table table-striped">
        <tr>
            <th>
                Ticker Symbol
            </th>
            @foreach (Stock stock in stocks)
            {
                <td id="StockTickerSymbols">
                    @stock.CompanyOverview.TickerSymbol
                    <i class="oi oi-circle-x" style="color:red" @onclick="(e => DeleteStock(stock))"></i>
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr hidden="@stockHelper.CompareStocksDetails.Single(field => field.Key == "CompanyName").Value">
            <th>
                Company Name
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.CompanyName
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr hidden="@stockHelper.CompareStocksDetails.Single(field => field.Key == "BusinessSector").Value">
            <th>
                Sector
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.Sector
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Industry
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.Industry
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr hidden="@stockHelper.CompareStocksDetails.Single(field => field.Key == "MarketCapitalization").Value">
            <th>
                Market Cap (Billions)
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrencyByBillion(stock.CompanyOverview.MarketCapitalization, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                EBITDA (Billions)
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrencyByBillion(stock.CompanyOverview.EBITDA, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                P/E Ratio
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.PERatio
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                PEG Ratio
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.PEGRatio
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                BookValue
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.BookValue
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Dividend Per Share
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.DividendPerShare
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Dividend Yield
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.DividendYield
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                EPS
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.EPS
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Revenue Per Share TTM
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.RevenuePerShareTTM
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Profit Margin
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.ProfitMargin
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Operating Margin TTM
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.OperatingMarginTTM
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Return On Assets TTM
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.ReturnOnAssetsTTM
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Return On Equity TTM
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.ReturnOnEquityTTM
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Revenue TTM (Billions)
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrencyByBillion(stock.CompanyOverview.RevenueTTM, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Gross Profit TTM (Billions)
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrencyByBillion(stock.CompanyOverview.GrossProfitTTM, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Diluted EPS TTM
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.DilutedEPSTTM
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Quarterly Earnings Growth YOY
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.QuarterlyEarningsGrowthYOY
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Quarterly Revenue Growth YOY
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.QuarterlyRevenueGrowthYOY
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Analyst Target Price
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.AnalystTargetPrice
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Trailing P/E
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.TrailingPE
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Forward P/E
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.ForwardPE
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                P/S Ratio TTM
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.PriceToSalesRatioTTM
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Price To Book Ratio
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.PriceToBookRatio
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                EV To Revenue
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.EVToRevenue
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                EV To EBITDA
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.EVToEBITDA
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                Beta
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @stock.CompanyOverview.Beta
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                52 Week High
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrency(stock.CompanyOverview.PreviousYearHigh, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                52 Week Low
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrency(stock.CompanyOverview.PreviousYearLow, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                50 Day Moving Average
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrency(stock.CompanyOverview.FiftyDayMovingAverage, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
        <tr>
            <th>
                200 Day Moving Average
            </th>
            @foreach (Stock stock in stocks)
            {
                <td>
                    @Stock.ToCurrency(stock.CompanyOverview.TwoHundredDayMovingAverage, stock.CompanyOverview.Currency)
                </td>
            }
            @if (stocks == null || stocks.Count == 0)
            {
                <td></td>
            }
        </tr>
    </table>
}

<style>
    #StockTickerSymbols {
        background-color: #0B2364;
        color: white;
        text-align: center;
    }

    #CompareStocksTable td {
        border: 1px solid #dee2e6;
    }

    #CompareStocksTable th, #SearhStockInput {
        width: 16%;
    }
</style>

@code {
    private IList<Stock> stocks;
    private StockHelper stockHelper = new StockHelper(new AlphaVantageAPIClient());
    private string stockTickerToSearch = "";
    private string errorMessage = "";
    private const int MAX_STOCKS_TO_COMPARE = 5;

    private bool boolTest = true;

    protected override async Task OnInitializedAsync()
    {
        stocks = new List<Stock>();
        string[] defaultStockTickers = { };
        stocks = await stockHelper.GetStockDataAsync(defaultStockTickers);
    }

    protected void DeleteStock(Stock stockToDelete)
    {
        stocks.Remove(stockToDelete);
    }

    protected async Task SearchStock(KeyboardEventArgs e)
    {
        if (!IsMouseClickOrEnter())
        {
            return;
        }

        if (string.IsNullOrWhiteSpace(stockTickerToSearch))
        {
            errorMessage = "Invalid stock ticker.";
            return;
        }

        errorMessage = "";
        Stock searchedStock = await stockHelper.GetStockDataAsync(stockTickerToSearch);

        if (searchedStock.IsStockValid())
        {
            stocks.Add(searchedStock);
        }
        else
        {
            errorMessage = $"Unable to find or load stock information for {stockTickerToSearch}.";
        }
        stockTickerToSearch = "";

        bool IsMouseClickOrEnter() => e == null || e.Code == "Enter" || e.Code == "NumpadEnter";
    }

    protected void RemoveErrorMessage()
    {
        errorMessage = "";
    }
}
