﻿@page "/stock/details"

@using JesterApp.ApiClients
@using JesterApp.Models
@using JesterApp.Data
@inject StockHelper StockHelper

<h1>Stock Details</h1>

@if (errorMessage.Length > 0)
{
    <div class="error">
        <span class="closebtn" @onclick="@(e => RemoveErrorMessage())">&times;</span>
        @errorMessage
    </div>
}

@code {

    private string errorMessage = "";

    protected void RemoveErrorMessage()
    {
        errorMessage = "";
    }
}
